body {
    background-color: #121212; /* Fondo muy oscuro */
    color: white;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* La tarjeta central */
.card {
    background: #1e1e1e;
    width: 90%;
    max-width: 350px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
    text-align: center;
    border: 1px solid #333;
}

h2 { margin-top: 0; color: #888; font-size: 1.2rem; margin-bottom: 20px; }

/* Botones de Instrumento */
.toggle-container {
    background: #121212;
    padding: 5px;
    border-radius: 50px;
    display: inline-flex;
    margin-bottom: 30px;
}

.toggle-container button {
    background: transparent;
    border: none;
    color: #666;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.toggle-container button.active {
    background: #00ff88; /* Verde Neón */
    color: #000;
    box-shadow: 0 0 15px rgba(0, 255, 136, 0.4);
}

/* Textos grandes */
.display-area { margin-bottom: 20px; }
.note { font-size: 5rem; font-weight: bold; line-height: 1; }
.freq { color: #666; font-size: 1.2rem; margin-top: 5px; }
.status { color: #888; margin-top: 5px; font-size: 0.9rem; }

/* ZONA DE LA AGUJA (GAUGE) */
.gauge-wrapper {
    position: relative;
    width: 200px;
    height: 100px; /* Semicírculo */
    margin: 0 auto 30px auto;
    overflow: hidden;
}

/* El arco gris de fondo */
.gauge-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 100px;
    background: #333;
    border-radius: 100px 100px 0 0; /* Forma de arco */
}

/* La aguja */
.needle {
    position: absolute;
    bottom: 0;
    left: 100px; /* Centro exacto */
    width: 4px;
    height: 90px;
    background: #ff4d4d; /* Rojo por defecto */
    transform-origin: bottom center; /* Rota desde abajo */
    transform: rotate(0deg); /* -90deg es izquierda, 90deg derecha */
    transition: transform 0.1s ease-out, background 0.2s;
    z-index: 2;
    border-radius: 5px;
}

.center-dot {
    position: absolute;
    bottom: -10px;
    left: 90px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    z-index: 3;
}

/* Botón empezar */
#btn-start {
    background: #333;
    color: white;
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.2s;
}
#btn-start:hover { background: #444; }